:root {
    --chat--color-primary: #6667ab;
    --chat--color-primary-shade-50: #5d5ea0;
    --chat--color-primary-shade-100: #545596;
    --chat--color-secondary: #c0bed0;
    --chat--color-secondary-shade-50: #d9d7e4;
    --chat--color-white: #ffffff;
    --chat--color-light: #f8f8f8;
    --chat--color-light-shade-50: #eaeaea;
    --chat--color-light-shade-100: #cccccc;
    --chat--color-medium: #d2d4d9;
    --chat--color-dark: #333333;
    --chat--color-disabled: #999999;
    --chat--color-typing: #666666;
    --chat--spacing: 1rem;
    --chat--border-radius: 0.5rem;
    --chat--transition-duration: 0.15s;
    --chat--window--width: 400px;
    --chat--window--height: 600px;
    --chat--header-height: auto;
    --chat--header--padding: var(--chat--spacing);
    --chat--header--background: var(--chat--color-primary);
    --chat--header--color: var(--chat--color-white);
    --chat--header--border-top: none;
    --chat--header--border-bottom: none;
    --chat--heading--font-size: 1.5em;
    --chat--subtitle--font-size: 1em;
    --chat--subtitle--line-height: 1.5;
    --chat--textarea--height: 50px;
    --chat--message--font-size: 1rem;
    --chat--message--padding: var(--chat--spacing);
    --chat--message--border-radius: var(--chat--border-radius);
    --chat--message-line-height: 1.6;
    --chat--message--bot--background: var(--chat--color-white);
    --chat--message--bot--color: var(--chat--color-dark);
    --chat--message--bot--border: 1px solid var(--chat--color-light-shade-100);
    --chat--message--user--background: var(--chat--color-primary);
    --chat--message--user--color: var(--chat--color-white);
    --chat--message--user--border: none;
    --chat--message--pre--background: rgba(0, 0, 0, 0.05);
    --chat--toggle--background: var(--chat--color-primary);
    --chat--toggle--hover--background: var(--chat--color-primary-shade-50);
    --chat--toggle--active--background: var(--chat--color-primary-shade-100);
    --chat--toggle--color: var(--chat--color-white);
    --chat--toggle--size: 64px;
    --chat--font-family: 'Source Sans Pro', sans-serif;
}

.chat-input-send-button svg[data-v-31e29ba2],
.chat-input-file-button svg[data-v-31e29ba2] {
    color: #6667ab;
}
