/* Tipografía */
body {
  font-family: 'Roboto', sans-serif;
  background-color: #f7f6f5;
  color: #000;
  line-height: 1.6;
}

h1, h2, h3 {
  font-family: 'Poppins', sans-serif;
  color: #111;
}

/* Logo */
.logo-img {
  max-height: 22px;
  width: auto;
  display: block;
  padding-top: 2px;
}

/* Avatares */
.avatar {
  width: 140px;
  height: 140px;
  object-fit: cover;
  border-radius: 50%;
}

/* Botones corporativos */
.btn-pink {
  background-color: #FF0066;
  color: #fff;
  border-radius: 5px;
  font-weight: 500;
  padding: 12px 25px;
  transition: background 0.3s ease;
}

.btn-pink:hover {
  background-color: #cc0052;
  color: #fff;
}

/* Rosa corporativo para header */
.bg-corporativo {
  background-color: #FF0066 !important;
  color: #fff !important;
}

/* Alineación de los mensajes de chat a la izquierda */
#mi-chat,
#mi-chat p,
#mi-chat div {
    text-align: left !important;

}

.chat-header {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.benefits-box {

}




